VITE_API_BASE_URL_LOCAL=http://localhost:3000
VITE_API_BASE_URL_PROD=https://devtinder-1zr8.onrender.com
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=your_github_client_id_here